# deployments/k8s/service.yaml
apiVersion: v1
kind: Service
metadata:
    name: payment-service
    namespace: payment-service
    labels:
        app: payment-service
spec:
    type: ClusterIP
    ports:
        - port: 80
          targetPort: 8080
          protocol: TCP
          name: http
    selector:
        app: payment-service

---

